fieldset {
	margin-bottom: 15px;
	padding: 10px;
}
legend {
	padding: 0px 3px;
	font-weight: bold;
	font-variant: small-caps;
}
label {
	width: 110px;
	display: inline-block;
	vertical-align: top;
	margin: 6px;
}
em {
	font-weight: bold;
	font-style: normal;
	color: #f00;
}
input:focus {
	background: #eaeaea;
}
input, textearea {
	width: 249px;
}
textarea {
	height: 100px;
}
select {
	width: 254px;
}
input[type=checkbox] {
	width: 10px;
}
input[typ=submit] {
	width: 150px;
	padding: 10px;
}
input:required {
	background-color: lightyellow;
}
