body {
    background: lightcyan;
    width: 800px;
    margin: auto;
}
h1 {
    color: maroon;
    text-align: center;
}
p {
    color: gray;
    border: 1px solid gray;
    padding: 10px;
}
main {
    width: 500px;
    margin: auto;
    background: gray;
}
nav {
    width: 200px;
    float: right;
}
p.content {
    margin: 0;
}