body {
    background: #f9e933;
}
header, main, footer {
    min-width: 855px;
}
header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}
header {
    background: white;
    overflow: auto;
}
header h1 {
    float: left;
    width: 570px;
}
header nav {
    float: right;
    width: 285px;
}
h1 {
    color: maroon;
    text-align: center;
}
p {
    color: gray;
    border: 1px solid gray;
    padding: 10px;
}
main {
    background: white;
}
nav {
    width: 100px;
    float: right;
}
nav p {
    margin: 0;
    padding: 0;
}
p.content {
    margin: 0;
    padding: 10px;
    float: left;
    width: 380px;
}