/* Format header (as blue, bordered box) */
header {
  ...
}

/* Format <h1> */
header h1 {
  ...
}

/* Format subtitle */
header .Teaser {
  ...
}

/* Format byline */
header .Byline {
  ...
}

/* Format float box */
.FloatFigure {
  float: left;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 0px;
}

/* Format caption */
.FloatFigure p {
  max-width: 200px;
  font-size: small;
  font-style: italic;
  margin-bottom: 5px;
}
