body {
	font-family: Verdana, Ariel, Helvetica, sans-serif;
	font-size: 100%;
	width: 700px;
	background-color: white;
	margin: 15px auto;
	padding: 15px 1.5em;
	border: 1px solid black;
	border-radius: 25px;
	box-shadow: 5px 5px  0 0;
}
a {
	font-weight: bold;
}
a:link {
	color: #931420;
}
a:visited {
	color: #931420;
}
a:hover, a:focus {
	color: blue;
}
ul {
	margin: 0 0 1.5em;
}
li {
	font-size: 95%;
}
p {
	font-size: 95%;
}
em {
	font-weight: bold;
}
#nav_menu ul {
	list-style-type: none;
	padding: 1em 0;
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
#nav_menu ul li {
	display: inline;
	padding: 0 1.5em;
	width: 20%;
}
#nav_menu ul li:hover ul {
	width: 100%;
}
#nav_menu ul li:hover ul li {
	width: 100%;
}
#nav_menu ul li a {
	font-weight: bold;
	color: blue;
}
#nav_menu ul li a.current {
	text-decoration: none;
}
header {
	padding-bottom: 1em;
	border-bottom: 2px solid #f2972e;
}
header img {
	float: left;
}
header h2 {
	font-size: 220%;
	color: #f2972e;
	text-align: center;
	text-shadow: 2px 3px 0 black;
	margin-bottom: .25em;
}
header h3 {
	font-size: 130%;
	font-style: italic;
	text-align: center;
}
main {
	clear: left;
}
main h1 {
	font-size: 175%;
	margin: 1em 0 .35em;
}
footer {
	margin-top: 2em;
	border-top: 2px solid #f2972e;
	padding-top: .7em;
}
